<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ll.userlogin.mapper.UserMapper">
    <select id="com.ll.userlogin.mapper.UserMapper.login" resultType="com.ll.userlogin.bean.User" parameterType="com.ll.userlogin.bean.User">
        select * from user name=#{name} and password=#{password}
    </select>
</mapper>
