.login-form {
    max-width: 300px;
  }

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

div{
  margin-left: 800px;
  margin-top: 300px;
}
h2{
  color: red;
}